.ProjectItem {
  cursor: pointer;

  &__divider {
    margin: 0;
  }

  &__item {
    padding: 12px 6px !important; // Important to override framework styles
  }

  &__action {
    &-alert {
      color: red;
    }
  }

  &:hover {

    .ProjectItem__item {
      background: rgb(255, 101, 101);

      * {
        color: white !important; // Important to override framework styles
      }
    }
  }
}